/* Reset some basic elements */
body, h1, h2, nav {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%; /* Full viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.nav-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#sign-up {
    padding: 5px 15px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #FFE9C8;
    color: black;
    padding: 10px;
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cart-box {
    width: 40%;
    min-height: 40%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-box h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Space for the button below */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.checkout-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: darkgreen;
}

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dashboard-box {
    width: 60%;
    min-height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-box h2 {
    margin-bottom: 20px;
}

.dashboard-info {
    width: 100%;
    border-collapse: collapse;
}

.dashboard-info th, .dashboard-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.dashboard-info th {
    background-color: #f2f2f2;
}